/* header */
header {
  margin-bottom: 0px;
}

/* chat window */
.chat-window {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border-top: 1px solid #999;
  border-radius: 6px;
}
.chat-window h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 4px 4px 0px 0px;
  border-bottom: 1px solid #999;
}
.chat-window img {
  margin-top: -2px;
  margin-bottom: 2px;
  margin-right: 6px;
  max-height: 25px;
  max-width: 25px;
  background-color: white;
  border-radius: 50px
}

/* message container */
.message-container {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  overflow-y: scroll;
  overflow-x: hidden;
}
.message-container::-webkit-scrollbar {
  width: 8px;
}
.message-container::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}
.message-container::-webkit-scrollbar-thumb {
  background: rgb(238, 238, 238);
  border: thin solid gray;
  border-radius: 10px;
}
.message-container::-webkit-scrollbar-thumb:hover  {
  background: rgb(204, 204, 204);
}

/* message input */
.message-input {
  border-top: 1px solid #999;
}
input.form-control {
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 4px;
}

/* message send */
.input-group-addon {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
}
#message-send {
  cursor: pointer;
}
#message-send:hover {
  background-color: #E5E5E5;
}

/* message */
.message{
  width: 88%;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
  font-size: 16px;
}
.message-text {
  margin-bottom: 5px;
}
.message-date {
  margin-bottom: 0px;
  color: rgb(85, 85, 85);
  font-size: 10px;
}
.message::before {
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform:             rotate( 29deg ) skew( -35deg );
      -moz-transform:    rotate( 29deg ) skew( -35deg );
      -ms-transform:     rotate( 29deg ) skew( -35deg );
      -o-transform:      rotate( 29deg ) skew( -35deg );
      -webkit-transform: rotate( 29deg ) skew( -35deg );
  width:  20px;
}
.eight-ball-message {
  text-align: left;
  float: left;
  margin: 10px 50px 10px 25px;
}
.eight-ball-message::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;
  background-color: #fff;
}
.eight-ball-message.bg-success::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;
  background-color: rgb(223, 240, 216);
}
.eight-ball-message.bg-warning::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;
  background-color: rgb(252, 248, 227);
}
.eight-ball-message.bg-danger::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;
  background-color: rgb(242, 222, 222);
}
.user-message {
  text-align: right;
  float: right;
  margin: 10px 25px 10px 55px;
  background-color: #fff;
}
.user-message::before {
  box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
  right: -9px;
  background-color: #fff;
}

