/* about */
#about {
  margin-top: -30px;
}
#about h2 {
  margin-top: 0px;
}
#about p {
  font-size: 17px;
}
.social-links a {
  margin-top: 15px;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 24px;
  color: #8e8e8e;
}
#website-link:hover {
  color: #000;
}
#github-link:hover {
  color: #323131;
}
#linkedin-link:hover {
  color: #0077B5;
}
#facebook-link:hover {
  color: #3b5998;
}
#twitter-link:hover {
  color: #55acee;
}
#instagram-link:hover {
  color: #3f729b;
}

/* challenges */
.challenge {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.challenge-border {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.challenge-border p {
  min-height: 40px;
}
.challenge-img {
  max-height: 240px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1200px)  {
  .challenge-img {
    max-height: 200px;
  }
}

/* footer */
#d3-subtext {
  color: #8e8e8e;
  font-size: 15px;
  font-style: italic;
}
#d3-logo {
  height: 25px;
}