/* header */
header {
  margin-bottom: 30px;
}

/* main */
main a {
  font-size: 20px
}

/* footer */
footer {
  margin-top: 60px;
  margin-bottom: 30px;
}

/* mobile input styling */
@media (max-width: 768px) {
  .form-control {
    font-size: 16px;
  }
}
